body, html {
  height: 100%;
  margin: 0;
}

#todo-error{
  color: red;
  font-size: 2em;
}

*{
  /* outline: 1px solid red; */
  text-align: center; 
} 

.photo{
  opacity: 0.5;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: alpha(opacity=50);
}

#bg-image{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: alpha(opacity=50);
}

.strikes{  
  text-decoration: line-through;
}

#side-position{
  float: right;
}

.row div {
  min-height: 100px;
}


